.container {
  background: #fafafa;
  height: 10px;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
}
.text {
  margin: 2em auto;
}
.bar-container {
  background: #f0f0f0;
  height: 10px;
  width: 100%;
  border-radius: 10px;
}
.bar {
  background: #00F260
  background: -webkit-linear-gradient(to left, #0575E6, #00F260)
  background: linear-gradient(to left, #0575E6, #00F260);
  height: 10px;
  width: 0%;
  border-radius: 10px;
  transition: width 400ms;
}
